name: Test v1 (latest)

on:
  workflow_dispatch:
  pull_request:
  push:
    branches: 
      - main
    paths:
      - 'src/**'
      - 'test/**'
      - '.github/workflows/TestLatest.yml'
      - 'Project.toml'

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      # Don't cancel in-progress jobs if any matrix job fails
      fail-fast: false
      matrix:
        julia-version: ['1'] # "1" automatically expands to the latest stable 1.x release of Julia
        julia-arch: [x64]
        os: [ubuntu-latest, windows-latest]
        experimental: [false]

    steps:
      # Checks-out your repository
      - name: Check out repository
        uses: actions/checkout@v4

      # Set up Julia
      - name: "Set up Julia"
        uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.julia-version }}
          arch: ${{ matrix.julia-arch }}

      # Set up julia-cache
      - name: Set up julia-cache
        uses: julia-actions/cache@v2
        
     # Set up cache
      - name: "Set up cache"
        uses: actions/cache@v4
        env:
          cache-name: cache-artifacts
        with:
          path: ~/.julia/artifacts
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-

      # Build package
      - name: "Build package"
        uses: julia-actions/julia-buildpkg@v1

      # Run the tests
      - name: "Run tests"
        uses: julia-actions/julia-runtest@v1

      # Preprocess Coverage
      - name: "Preprocess Coverage"
        uses: julia-actions/julia-processcoverage@v1

      # Run codecov
      - name: "Run CodeCov"
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: lcov.info